@charset "UTF-8";
/* CSS Document */

.vinetaf {
    list-style-image: url('../images/alumna.png');
}

.vinetam {
    list-style-image: url('../images/alumno.png');
}
.avatar{
	height: 50px;
	width: 10%;
	background: url('../images/alumna.png') center no-repeat;
	float: left;
	margin: 2px 10px 0 0;
}